.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two columns of equal width
    gap: 1rem; // Optional: space between columns/rows

    & > li {
      margin: 0; // Remove vertical margin to avoid extra space
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}
